

.project-selection{
  width: 100px;
  margin-right: 20px;
}


  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

.buttons
{
    float: right;
    margin-left: 5px;
}
