<div class="bootstrap-wrapper">
  <div class="container mt">
    <div class="container">
      <!-- <button class="buttons" mat-raised-button (click)="open(content)">Add Ticket</button> -->
      <mat-form-field appearance="fill" class="buttons project-selection">
        <mat-select     [(ngModel)]="selecteType" (ngModelChange)="selectTypeOfView($event)" name="type">
          <mat-option name="type" [value]="projectSelection[0]">My Ticket </mat-option>
          <mat-option name="type" [value]="projectSelection[1]">All Ticket</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="aggridCss">
  <table id="dynamic-table" class="table table-stripedtable-hover tableagcss">
    <ag-grid-angular style="width:100%; height:85%;" class="ag-theme-balham" [columnDefs]="ColumnDefs"
      [animateRows]="true" [pagination]="true" [paginationPageSize]="10" [floatingFilter]="true"
      [rowData]="RowData|async" 
      (gridReady)="onGridReady($event)" 
      [editType]="editType"
      [singleClickEdit]="true"
      (cellValueChanged)="onCellValueChanged($event)"
      (rowValueChanged)="onRowValueChanged($event)"  
      [stopEditingWhenCellsLoseFocus]="true"
      suppressClickEdit
      [frameworkComponents]="frameworkcomponent"
      [immutableColumns] = "true"
      [animateRows]="true">
    </ag-grid-angular>
  </table>
</div>
<router-outlet></router-outlet>